<!DOCTYPE html>
<html>
  <form>
    <table>
      <tr>
        <td>Email</td>
        <td><input type="text" [(ngModel)]="Email" name="Email"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="text" [(ngModel)]="Password" name="Password"></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td><input type="text" [(ngModel)]="First_Name" name="First_Name"></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" [(ngModel)]="Last_Name" name="Last_Name"></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td><input type="text" [(ngModel)]="Phone_Number" name="Phone-Number"></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" [(ngModel)]="Address" name="Address"></td>
      </tr>
      <tr>
        <td>Aadhar Card</td>
        <td><input type="text" [(ngModel)]="Aadhar_Card" name="Aadhar_Card"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><input type="text" [(ngModel)]="Gender" name="Gender"></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><input type="text" [(ngModel)]="Date_of_Birth" name="Date_of_Birth"></td>
      </tr>
      <tr>
        <td><button (click)="Submit()">Submit</button></td>
      </tr>
    </table>
  </form>
</html>